{% extends 'base.html.twig' %}

{% block title %}Hello AchatController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>


<table class="table">
    <thead>
        <tr>
            <th>nom:</th>
            <th>prix:</th>
            <th>PointFidélité</th>
            <th>quantité:</th>
            <th>Total:</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for item in items %}
        <tr>
            <td>{{item.article.nomArticle}}</td>
            <td>{{item.article.PrixArticle}} €</td>
            <td>{{item.article.PointArticle}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.article.PrixArticle * item.quantity}}€</td>
            <td>
                <a href="{{path('cart_remove', {'id': item.article.id})}}" class="btn btn-danger btn-sm">
                <i class="bi bi-trash"> supprimer</i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
        <td colspan="3" class="text-right"> Total : {{totalItem}} €</td>
        <td></td>
        <td></td>
    </tfoot>
</table>
       <p> bla bla{{app.user.email}}</p>
    <button type="button" class="btn btn-success">Acheter</button>
{% endblock %}


